@(message: String, taskForm: Form[TaskForm])
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@main("Welcome to Play") {

    <div style="align:center; background-color:lightblue;" class="navbar navbar-fixed-top">
        <div style="align:center; background-color:lightblue;" class="navbar-inner">
            <div style="align:center; background-color:lightblue;" class="container-fluid">
                <a style="align:center; color:red; background-color:lightblue;" id="titleLink" class="brand" href="/">@message.toUpperCase</a>
            </div>
        </div>
    </div>

    <div class="container">
        @helper.form(action = routes.Application.addTask(), 'class -> "well form-horizontal") {
            @helper.inputText(taskForm("contents"), '_label -> "With working")
            <div class="controls">
                <input type="submit" class="btn btn-primary"/>
            </div>
        }
    </div>
    <ul style="text-align:center; list-style-type:none" id="tasks"></ul>
}
